<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  <BODY>

   <div class="container">
     <div clase="col-md-8">
       {% with messages = get_flashed_messages(with_categories=True) %}
         {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
          {% endfor %}
         {% endif %}
       {% endwith %}
     </div>
   {% block content %}{% endblock %}
   </div>

<!-- Optional JavaScript (for bootstrap) -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1$
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUA$
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ$
    <script src="{{ url_for('static', filename="oildbScript.js") }}"></script>

  </BODY>
  {% include 'footer.html' %}
</html>

