<html>
<HEAD>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS (stored locally) -->
<!--
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css') }}">
-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN$
    <link rel="stylesheet" href="{{url_for('static', filename='main.css') }}">
  <TITLE>COVID-19 Log-Linear analysis</TITLE>
  <h1 style="vertical-align=middle">COVID-19 Data and Exponential Model</h1>
</HEAD>

<hr>


